/*
 * Copyright (C) 2018 PHYTEC America, LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
/plugin/;

#include "imx7d-pinfunc.h"
#include <dt-bindings/gpio/gpio.h>

/ {
	compatible = "phytec,imx7-phycore-som";

	fragment@0 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;

			rpi-sense@46 {
				compatible = "rpi,rpi-sense";
				reg = <0x46>;
				keys-int-gpios = <&gpio1 15 GPIO_ACTIVE_LOW>;
				status = "okay";
			};

			lsm9ds1-magn@1c {
				compatible = "st,lsm9ds1-magn";
				reg = <0x1c>;
				status = "okay";
			};

			lsm9ds1-accel@6a {
				compatible = "st,lsm9ds1-accel";
				reg = <0x6a>;
				status = "okay";
			};

			lps25h-press@5c {
				compatible = "st,lps25h-press";
				reg = <0x5c>;
				status = "okay";
			};

			hts221-humid@5f {
				compatible = "st,hts221-humid";
				reg = <0x5f>;
				status = "okay";
			};
		};
	};
};
