/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 * This file configures the interfaces supported by imx7 Dual
 * on Adesys ADS4500A
 *
 */

/ {
	model = "Adesys Octalarm 4500a Carrier Board for phytek imx7d module";
	compatible = "adesys,ads4500a", "phytec,imx7-phycore-som", "fsl,imx7d";

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb_otg1_vbus: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "usb_otg1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
		};

		reg_usb_otg2_vbus: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "usb_otg2_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio5 2 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_vref_1v8: regulator@2 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "vref-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		reg_vsys: fixedregulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "reg_vsys";
			regulator-min-microvolt = <12000000>;
			regulator-max-microvolt = <12000000>;
			regulator-boot-on;
		};

		reg_3v3: fixedregulator@4 {
			compatible = "regulator-fixed";
			reg = <4>;
			vin-supply = <&reg_vsys>;
			regulator-name = "reg_3v3";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-boot-on;
		};

		/* For display backlight */
		backlight: backlight {
			compatible = "pwm-backlight";
			pwms = <&pwm3 0 50000 0>;
		};
	};
	
	sound {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;
		
		sound_speaker: sound@0 {
			reg = <0>;
			compatible = "simple-audio-card";
			simple-audio-card,name = "Octalarm-Speaker";
			
			simple-audio-card,dai-link@0 {	/* Mono onboard speaker */
				reg = <0>;
				frame-master = <&imx7d_sai1_master>;
				bitclock-master = <&imx7d_sai1_master>;
				format = "i2s";

				imx7d_sai1_master: cpu {
					dai-tdm-slot-num = <2>;
					dai-tdm-slot-width = <32>;
					sound-dai = <&sai1>;
				};

				codec {
					sound-dai = <&tas5720>;
				};
			};
		};
		sound_gsm: sound@1 {
			reg = <1>;
			compatible = "simple-audio-card";
			simple-audio-card,name = "Octalarm-GSM";

			simple-audio-card,bitclock-master = <&telephony_link_master>;
			simple-audio-card,frame-master = <&telephony_link_master>;
			simple-audio-card,format = "i2s";
			simple-audio-card,bitclock-inversion;
			simple-audio-card,frame-inversion;

			simple-audio-card,cpu {
				sound-dai = <&sai3>;
			};

			telephony_link_master: simple-audio-card,codec {
				sound-dai = <&gsm_codec>;
			};
		};
		gsm_codec: gsm_codec {
			compatible = "option,gtm601";
			#sound-dai-cells = <0>;
		};
	};

        gpio-keys {
                compatible = "gpio-keys";
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_powerkeys>;
		// hardware-generated signal, asserted when GPIO5 12 is pressed for >2 seconds
                shutdown {
                        label = "SW-SHDWN";
                        gpios = <&gpio5 13 GPIO_ACTIVE_HIGH>; /* SW-SHDWN */
                        linux,code = <KEY_POWER>;
                        debounce-interval = <1>;
                };
		// actual user button marked PWR-OFF on PCB
                switch {
                        label = "SW-SWITCH";
                        gpios = <&gpio5 12 GPIO_ACTIVE_HIGH>; /* SW-SWITCH */
                        linux,code = <BTN_0>;
                };
        };

        // GPIO output driven by Linux on poweroff, requires CONFIG_POWER_RESET_GPIO=y
	// this drives SW-PWROFF high
        gpio-poweroff {
                compatible = "gpio-poweroff";
                label = "SW-PWROFF";
                gpios = <&gpio5 14 GPIO_ACTIVE_HIGH>; /* SW-PWROFF */
        };
};

&gpio1 {
	/*
	 * Legend:
	 * "NC" = not connected (no rail from the SoC)
	 * "[FOO]" = pin is muxed for peripheral FOO (not GPIO)
	 * "" = No idea
	 * "FOO" = GPIO line named "FOO" on the schematic
	 * "FOO_N" = GPIO line named "FOO" on schematic, active low
	 */
	gpio-line-names = "[GPIO1-IO00]", "SPK-SDZ"/*IO1*/, "[GPIO1-IO02]", "[GPIO1-IO03]", "RS485-RE",   "GSM-FORCEOFF", "[GPIO1-IO06]", "[GPIO1-IO07]",
					  "[GPIO1-IO08]", "OUT4-REL",       "[GPIO1-IO10]", "[GPIO1-IO11]", "[GPIO1-IO12]", "[GPIO1-IO13]", "[GPIO1-IO14]", "[GPIO1-IO15]",
					  "[GPIO1-IO16]", "[GPIO1-IO17]",   "[GPIO1-IO18]", "[GPIO1-IO19]", "[GPIO1-IO20]", "[GPIO1-IO21]", "[GPIO1-IO22]", "[GPIO1-IO23]",
					  "[GPIO1-IO24]", "[GPIO1-IO25]",   "[GPIO1-IO26]", "[GPIO1-IO27]", "[GPIO1-IO28]", "[GPIO1-IO29]", "[GPIO1-IO30]", "[GPIO1-IO31]";
};

&gpio2 {
	gpio-line-names = "[GPIO2-IO00]", "[GPIO2-IO01]", "[GPIO2-IO02]", "[GPIO2-IO03]", "[GPIO2-IO04]", "[GPIO2-IO05]", "[GPIO2-IO06]", "[GPIO2-IO07]",
					  "[GPIO2-IO08]", "[GPIO2-IO09]", "MDM-RI",       "[GPIO2-IO11]", "OUT3-REL",     "[GPIO2-IO13]", "[GPIO2-IO14]", "DIS-FORCEOFF",
					  "[GPIO2-IO16]", "[GPIO2-IO17]", "[GPIO2-IO18]", "[GPIO2-IO19]", "[GPIO2-IO20]", "[GPIO2-IO21]", "[GPIO2-IO22]", "[GPIO2-IO23]",
					  "[GPIO2-IO24]", "[GPIO2-IO25]", "[GPIO2-IO26]", "[GPIO2-IO27]", "[GPIO2-IO28]", "[GPIO2-IO29]", "MDM-DCD",      "[GPIO2-IO31]";
};

&gpio3 {
	gpio-line-names = "[GPIO3-IO00]", "[GPIO3-IO01]", "[GPIO3-IO02]", "[GPIO3-IO03]", "[GPIO3-IO04]", "[GPIO3-IO05]", "[GPIO3-IO06]", "[GPIO3-IO07]",
					  "[GPIO3-IO08]", "[GPIO3-IO09]", "[GPIO3-IO10]", "[GPIO3-IO11]", "[GPIO3-IO12]", "[GPIO3-IO13]", "[GPIO3-IO14]", "[GPIO3-IO15]",
					  "[GPIO3-IO16]", "[GPIO3-IO17]", "[GPIO3-IO18]", "[GPIO3-IO19]", "[GPIO3-IO20]", "[GPIO3-IO21]", "[GPIO3-IO22]", "[GPIO3-IO23]",
					  "[GPIO3-IO24]", "[GPIO3-IO25]", "[GPIO3-IO26]", "[GPIO3-IO27]", "[GPIO3-IO28]", "[GPIO3-IO29]", "[GPIO3-IO30]", "[GPIO3-IO31]";
};


&gpio4 {
	gpio-line-names = "[GPIO4-IO00]", "[GPIO4-IO01]", "[GPIO4-IO02]", "[GPIO4-IO03]", "[GPIO4-IO04]", "[GPIO4-IO05]", "RS485-PWR",    "RS485-DE",
					  "[GPIO4-IO08]", "[GPIO4-IO09]", "[GPIO4-IO10]", "[GPIO4-IO11]", "[GPIO4-IO12]", "[GPIO4-IO13]", "MDM-DTR",      "MDM-RST",
					  "[GPIO4-IO16]", "[GPIO4-IO17]", "[GPIO4-IO18]", "ADC-SPI-SS",   "[GPIO4-IO20]", "[GPIO4-IO21]", "[GPIO4-IO22]", "[GPIO4-IO23]",
					  "[GPIO4-IO24]", "[GPIO4-IO25]", "[GPIO4-IO26]", "[GPIO4-IO27]", "[GPIO4-IO28]", "[GPIO4-IO29]", "[GPIO4-IO30]", "[GPIO4-IO31]";
};

&gpio5 {
	gpio-line-names = "[GPIO5-IO00]", "[GPIO5-IO01]", "[GPIO5-IO02]", "[GPIO5-IO03]", "[GPIO5-IO04]", "[GPIO5-IO05]", "[GPIO5-IO06]", "[GPIO5-IO07]",
					  "[GPIO5-IO08]", "OUT2-OC",      "NFC-IRQ",      "[GPIO5-IO11]", "[GPIO5-IO12]", "[GPIO5-IO13]", "SW-PWROFF", "[GPIO5-IO15]",
					  "[GPIO5-IO16]", "[GPIO5-IO17]", "[GPIO5-IO18]", "[GPIO5-IO19]", "[GPIO5-IO20]", "[GPIO5-IO21]", "[GPIO5-IO22]", "[GPIO5-IO23]",
					  "[GPIO5-IO24]", "[GPIO5-IO25]", "[GPIO5-IO26]", "[GPIO5-IO27]", "[GPIO5-IO28]", "[GPIO5-IO29]", "[GPIO5-IO30]", "[GPIO5-IO31]";
};

&gpio6 {
	gpio-line-names = "[GPIO6-IO00]", "[GPIO6-IO01]", "[GPIO6-IO02]", "[GPIO6-IO03]", "[GPIO6-IO04]", "[GPIO6-IO05]", "[GPIO6-IO06]", "[GPIO6-IO07]",
					  "[GPIO6-IO08]", "[GPIO6-IO09]", "[GPIO6-IO10]", "[GPIO6-IO11]", "[GPIO6-IO12]", "[GPIO6-IO13]", "[GPIO6-IO14]", "[GPIO6-IO15]",
					  "[GPIO6-IO16]", "[GPIO6-IO17]", "OUT1-OC",      "[GPIO6-IO19]", "[GPIO6-IO20]", "GSM-RST",      "GSM-WAKE",     "[GPIO6-IO23]",
					  "[GPIO6-IO24]", "[GPIO6-IO25]", "[GPIO6-IO26]", "[GPIO6-IO27]", "[GPIO6-IO28]", "[GPIO6-IO29]", "[GPIO6-IO30]", "[GPIO6-IO31]";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1 &pinctrl_hog_2 &pinctrl_hog_lcd>;

	imx7d-phycore {
		pinctrl_hog_2: hoggrp-2 {
			fsl,pins = <
				MX7D_PAD_SD1_CD_B__GPIO5_IO0		0x3D /* BRD-ID0, 5k pull-up, slow, x4 drive, hys */
				MX7D_PAD_SD1_WP__GPIO5_IO1			0x3D /* BRD-ID1, 5k pull-up, slow, x4 drive, hys */
				MX7D_PAD_SD1_CMD__GPIO5_IO4			0x3D /* BRD-ID2; 5k pull-up slow, x1, hys @TODO */
				MX7D_PAD_EPDC_PWR_COM__GPIO2_IO30	0x59 /* MDM-DCD; Modem Data Carrier Detect, 47k pull-up(@TODO) */
				MX7D_PAD_EPDC_DATA10__GPIO2_IO10	0x59 /* MDM-RI; Modem Ring indicator, 47k pull-up(@TODO) */
				MX7D_PAD_EPDC_DATA11__GPIO2_IO11	0x59 /* MDM-RELAIS, 47k pull-up(@TODO) */
				MX7D_PAD_I2C4_SCL__GPIO4_IO14		0x59 /* MDM-DTS, 47k pull-up(@TODO) */
				MX7D_PAD_I2C4_SDA__GPIO4_IO15		0x59 /* MDM-RST, 47k pull-up(@TODO) */
				MX7D_PAD_EPDC_DATA12__GPIO2_IO12	0x59 /* OUT3_REL, 47k pull-up(@TODO) */
				MX7D_PAD_GPIO1_IO09__GPIO1_IO9		0x59 /* OUT4_REL, 47k pull-up(@TODO) */
				MX7D_PAD_EPDC_DATA13__GPIO2_IO13	0x39 /* BOOT-SEL; Boot Circuit Buffer Enable#, 5k pull-up (!), x4 drive, hys */
				MX7D_PAD_EPDC_DATA14__GPIO2_IO14	0x59 /* DIS-AVDD-GD, 47k pull-up(@TODO) */
				MX7D_PAD_EPDC_DATA15__GPIO2_IO15	0x1c /* DIS-FORCEOFF, 100k pull-down, slow, x1, hys */
				MX7D_PAD_SD2_DATA1__GPIO5_IO15		0x1c /* BOOT-OPT1; 100k pull-down, slow, x1, hys */
				MX7D_PAD_SD2_DATA2__GPIO5_IO16		0x1c /* BOOT-OPT2; 100k pull-down, slow, x1, hys */
				MX7D_PAD_SD2_DATA3__GPIO5_IO17		0x1c /* BOOT-OPT3; 100k pull-down, slow, x1, hys */
				MX7D_PAD_GPIO1_IO12__GPIO1_IO12		0x1c /* CH-STAT1 input; 100k pull-down, slow, x1, hys */
				MX7D_PAD_GPIO1_IO13__GPIO1_IO13		0x1c /* CH-STAT2 input; 100k pull-down, slow, x1, hys */
				MX7D_PAD_GPIO1_IO14__GPIO1_IO14		0x1c /* CH-PG input; 100k pull-down, slow, x1, hys */
				MX7D_PAD_GPIO1_IO15__GPIO1_IO15		0x1c /* CH-EN input; 100k pull-down, slow, x1, hys */
				MX7D_PAD_EPDC_DATA08__GPIO2_IO8		0x1c /* CH-TEST1 output; 100k pull-down, slow, x1, hys */
				MX7D_PAD_EPDC_DATA09__GPIO2_IO9		0x1c /* CH-TEST2 output; 100k pull-down, slow, x1, hys */
				MX7D_PAD_SAI1_RX_DATA__GPIO6_IO12	0x1c /* OWR-TX; 100k pull-down, slow, x1, hys @TODO */
				MX7D_PAD_SAI1_TX_BCLK__GPIO6_IO13	0x1c /* OWR-RX; 100k pull-down, slow, x1, hys */
				MX7D_PAD_SAI1_MCLK__GPIO6_IO18		0x1c /* OUT1-OC; 100k pull-down, slow, x1, hys */
				MX7D_PAD_SD2_CD_B__GPIO5_IO9		0x1c /* OUT2-OC; 100k pull-down, slow, x1, hys */
				MX7D_PAD_SD2_WP__GPIO5_IO10		0x59 /* NCF-IRQ; 47k pull-up(@TODO) */
				MX7D_PAD_SAI2_RX_DATA__GPIO6_IO21	0x1c /* GSM-RST, 100k pull-down, slow, x1, hys */
				MX7D_PAD_SD1_RESET_B__GPIO5_IO2		0x1c /* USB-PWR for USB2, disable by default, 100k pull-down */
				MX7D_PAD_UART3_RTS_B__GPIO4_IO6		0x1c /* RS485-PWR, disable by default, 100k pull-down */
				MX7D_PAD_GPIO1_IO01__GPIO1_IO1		0x1c /* SPK-SDZ, active low shutdown, 100k pull-down */
				MX7D_PAD_SAI2_TX_SYNC__GPIO6_IO19	0x0c /* SPK-FAULT, open-drain, no PD/PU: (10k external pull-up) */
				MX7D_PAD_GPIO1_IO05__GPIO1_IO5		0x1c /* GSM-FORCEOFF; 100k pull-down, slow, x1, hys */

			>;
		};

		pinctrl_i2c3: i2c3grp {
			fsl,pins = <
				MX7D_PAD_I2C3_SDA__I2C3_SDA	0x4000007e /* @TODO find out where 0x4... is for... not in i.MX7DRM? */
				MX7D_PAD_I2C3_SCL__I2C3_SCL	0x4000007e /* 100k pull-up, slow, x2, hys */
			>;
		};

		pinctrl_powerkeys: powerkeys {
			fsl,pins = <
				MX7D_PAD_SD2_CLK__GPIO5_IO12		0x1c /* SW-SWITCH; Software switch input, 100k pull-down, slow, x1, hys */
				MX7D_PAD_SD2_CMD__GPIO5_IO13		0x1c /* SW-SHDWN; Software shutdown input, 100k pull-down, slow, x1, hys */
				MX7D_PAD_SD2_DATA0__GPIO5_IO14		0x1c /* SW-PWROFF output, 100k pull-down, slow, x1, hys */
		        >;
		};
	};
};

&iomuxc_lpsr {
	pinctrl-names = "default";
	imx7d-phycore {
		pinctrl_wdog: wdoggrp {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO00__WDOD1_WDOG_B	0x74 /* switch to WDOG_B function, with power-up default pad config: 100k pull-up, fast, hys, x1 */
			>;
		};
	};
};

&i2c3 {
	/* see erratum e7805, reduce I2C speed below 384000 */
	clock-frequency = <375000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";

	pn532: pn532@24 {
		compatible = "nxp,pn532-i2c";
		reg = <0x24>;
		interrupt-parent = <&gpio5>;
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;
	};	

	lm75@48 {
			compatible = "lm75";
			reg = <0x48>;
			status = "okay";
	};
	lm75@49 {
			compatible = "lm75";
			reg = <0x49>;
			status = "okay";
	};
	rtc@51 {
		compatible = "nxp,pcf85263", "nxp,pcf85363";
		reg = <0x51>;
		status = "disabled";	/* SDA/SCL lines switched */
	};
	tas5720: tas5720@6c {
		#sound-dai-cells = <0>;
		compatible = "ti,tas5720";
		reg = <0x6c>;
		dvdd-supply = <&reg_3v3>;
		pvdd-supply = <&reg_vsys>;
	};
};

&usbotg1 {
	vbus-supply = <&reg_usb_otg1_vbus>;
	dr_mode = "host";
	status = "okay";
};

&usbotg2 {
	vbus-supply = <&reg_usb_otg2_vbus>;
	dr_mode = "host";
	status = "okay";
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&iomuxc_lpsr {
	imx7d-phycore {
		pinctrl_pwm3: pwmgrp {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO03__PWM3_OUT		0x30 /* PWM3 */
			>;
		};
		pinctrl_uart5: uart5grp {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO06__UART5_DCE_RX	0x79 /* UART-RX */
				MX7D_PAD_GPIO1_IO07__UART5_DCE_TX	0x79 /* UART-TX */
			>;
		};
	};
};

&i2c2 {
	status = "disabled";
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3>;
	status = "okay";
};

&iomuxc {
	imx7d-phycore {

		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX7D_PAD_UART1_RX_DATA__UART1_DCE_RX	0x79
				MX7D_PAD_UART1_TX_DATA__UART1_DCE_TX	0x79
			>;
		};

		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX7D_PAD_UART2_RX_DATA__UART2_DCE_RX	0x79
				MX7D_PAD_UART2_TX_DATA__UART2_DCE_TX	0x79
			>;
		};

		pinctrl_uart3: uart3grp {
			fsl,pins = <
				MX7D_PAD_UART3_RX_DATA__UART3_DCE_RX	0x79
				MX7D_PAD_UART3_TX_DATA__UART3_DCE_TX	0x79
			>;
		};

		pinctrl_uart5_rtscts: uart5grp_rtscts {
			fsl,pins = <
				MX7D_PAD_SAI1_TX_SYNC__UART5_DCE_CTS	0x79 /* UART-CTS */
				MX7D_PAD_SAI1_TX_DATA__UART5_DCE_RTS	0x79 /* UART-RTS, 100k pull-up, hys, x4 */
			>;
		};

		pinctrl_uart7: uart7grp {
			fsl,pins = <
				MX7D_PAD_ECSPI2_SCLK__UART7_DCE_RX	0x79
				MX7D_PAD_ECSPI2_MISO__UART7_DCE_RTS	0x79
				MX7D_PAD_ECSPI2_MOSI__UART7_DCE_TX	0x79
				MX7D_PAD_ECSPI2_SS0__UART7_DCE_CTS	0x79
			>;
		};

		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX7D_PAD_ECSPI1_MISO__ECSPI1_MISO	0x2
				MX7D_PAD_ECSPI1_MOSI__ECSPI1_MOSI	0x2
				MX7D_PAD_ECSPI1_SCLK__ECSPI1_SCLK	0x2
//				MX7D_PAD_ECSPI1_SS0__ECSPI1_SS0		0x59
				MX7D_PAD_ECSPI1_SS0__GPIO4_IO19		0x59
			>;
		};

		pinctrl_ecspi3: ecspi3grp {
			fsl,pins = <
//				MX7D_PAD_SAI2_TX_SYNC__ECSPI3_MISO	0x2
				MX7D_PAD_SAI2_TX_BCLK__ECSPI3_MOSI	0x12
//				MX7D_PAD_SAI2_RX_DATA__ECSPI3_SCLK	0x2
//				MX7D_PAD_SD2_CD_B__GPIO5_IO9		0x59
			>;
		};
		pinctrl_hog_lcd: hog_lcdgrp {
			fsl,pins = <
				MX7D_PAD_LCD_RESET__GPIO3_IO4		0x79 /* DIS-RST */
			>;
		};

		pinctrl_edt_ts_irq: tsirqgrp {
			fsl,pins = <
				MX7D_PAD_ENET1_TX_CLK__GPIO7_IO12	0x59 /* TOUCH-INT */
			>;
		};
        pinctrl_sai1: sai1grp {
			fsl,pins = <
				MX7D_PAD_ENET1_RX_CLK__SAI1_TX_BCLK     0x1c
				MX7D_PAD_ENET1_CRS__SAI1_TX_SYNC 		0x1c /* SPK-LRCLK */
				MX7D_PAD_ENET1_COL__SAI1_TX_DATA0 		0x1c /* SPK-SDIN */
//              MX7D_PAD_ENET1_TX_CLK__SAI1_RX_DATA0    0x1f
			>;
        };
        pinctrl_sai3: sai3grp {
			fsl,pins = <
				MX7D_PAD_SD1_DATA0__SAI3_RX_DATA0		0x00 /* PCM-DOUT */
				MX7D_PAD_SD1_DATA1__SAI3_TX_BCLK		0x00 /* PCM-CLK */
				MX7D_PAD_SD1_DATA2__SAI3_TX_SYNC		0x00 /* PCM-SYNC */
				MX7D_PAD_SD1_DATA3__SAI3_TX_DATA0		0x00 /* PCM-DIN */
			>;
        };
    };
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	assigned-clocks = <&clks IMX7D_UART1_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_PLL_SYS_MAIN_240M_CLK>;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	assigned-clocks = <&clks IMX7D_UART2_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_PLL_SYS_MAIN_240M_CLK>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>, <&pinctrl_uart5_rtscts>;
	assigned-clocks = <&clks IMX7D_UART5_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_PLL_SYS_MAIN_240M_CLK>;
	status = "okay";
	uart-has-rtscts;
};

&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	assigned-clocks = <&clks IMX7D_UART7_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_PLL_SYS_MAIN_240M_CLK>;
	status = "okay";
	uart-has-rtscts;

	dcd-gpios = <&gpio2 30 GPIO_ACTIVE_LOW>;
	dtr-gpios = <&gpio4 14 GPIO_ACTIVE_LOW>;
	rng-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>;
};

/* MCP3008 for 8 channel ADC */
&ecspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";
	cs-gpios = <&gpio4 19 0>;

	mcp3x0x@0 {
		reg = <0>;
		compatible = "microchip,mcp3008";
		spi-max-frequency = <1000000>;
		vref-supply = <&vref_reg>;
	};
};

/* spi-dev driver for WS2812b */
&ecspi3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi3>;
	status = "okay";

    spidev0: spi@0 {
        reg = <0x00>;
        compatible = "ws2812b";
        // SPI CLK frequency 22.857.142 Hz
        // 44 ns per bit, 352 ns per byte
        // WS2812B 0 = 0xff 0x00 0x00
        // WS2812B 1 = 0xff 0xff 0xff
//        spi-max-frequency = <22857142>;
        spi-max-frequency = <2500000>;
        status = "okay";
    };
};

&clks {
	assigned-clocks = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
	assigned-clock-rates = <884736000>;
};

&sai1 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	status = "okay";
	fsl,sai-synchronous-rx;
	
	assigned-clocks = <&clks IMX7D_SAI1_ROOT_SRC>,
			  <&clks IMX7D_SAI1_ROOT_CLK>;
	assigned-clock-parents = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
	assigned-clock-rates = <0>, <24576000>;
};

&sai3 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai3>;
	status = "okay";
};
