/*
 * Copyright (C) 2015 PHYTEC America, LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 *
 * This file includes the dtsi for interfaces supported by imx7 Solo on
 * carrier board PBA-C-09, and configures additional interfaces only
 * supported by the iMX7 Dual.
 *
 */

#include "imx7s-pba-c-09.dtsi"

/ {
	model = "Phytec i.MX7D phyBOARD-Zeta Carrier Board";
	compatible = "phytec,imx7d-pba-c-09", "phytec,imx7-phycore-som", "fsl,imx7d";

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb_otg2_vbus: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "usb_otg2_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 7 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1 &pinctrl_hog_2 &pinctrl_hog_lcd>;

	imx7d-phycore {
		pinctrl_hog_2: hoggrp-2 {
			fsl,pins = <
				MX7D_PAD_SD1_CD_B__GPIO5_IO0		0x59 /* SD1 CD */
				MX7D_PAD_SD1_WP__GPIO5_IO1		0x59 /* PCIe Disable */
				MX7D_PAD_SAI1_RX_BCLK__GPIO6_IO17	0x59 /* PCIe Reset */
				MX7D_PAD_UART3_CTS_B__GPIO4_IO7		0x14 /* USB2 pwr */
				MX7D_PAD_GPIO1_IO09__GPIO1_IO9 		0x59 /* ETH2 Int_N */
				MX7D_PAD_EPDC_PWR_COM__GPIO2_IO30	0x59 /* ETH2 Reset_n */
				MX7D_PAD_EPDC_DATA10__GPIO2_IO10	0x59 /* User Button */
				MX7D_PAD_EPDC_DATA13__GPIO2_IO13	0x39 /* Boot Circuit Buffer Enable
										5K pull-up  */
			>;
		};

		pinctrl_enet2: enet2grp {
			fsl,pins = <
				MX7D_PAD_EPDC_SDCE0__ENET2_RGMII_RX_CTL	0x5
				MX7D_PAD_EPDC_SDCE1__ENET2_RGMII_RXC 	0x5
				MX7D_PAD_EPDC_SDCLK__ENET2_RGMII_RD0	0x5
				MX7D_PAD_EPDC_SDLE__ENET2_RGMII_RD1	0x5
				MX7D_PAD_EPDC_SDOE__ENET2_RGMII_RD2	0x5
				MX7D_PAD_EPDC_SDSHR__ENET2_RGMII_RD3	0x5
				MX7D_PAD_EPDC_SDCE2__ENET2_RGMII_TD0	0x5
				MX7D_PAD_EPDC_SDCE3__ENET2_RGMII_TD1	0x5
				MX7D_PAD_EPDC_GDCLK__ENET2_RGMII_TD2	0x5
				MX7D_PAD_EPDC_GDOE__ENET2_RGMII_TD3	0x5
				MX7D_PAD_EPDC_GDRL__ENET2_RGMII_TX_CTL	0x5
				MX7D_PAD_EPDC_GDSP__ENET2_RGMII_TXC	0x5
			>;
		};
	};
};

&pcie {
	pinctrl-names = "default";
	reset-gpio = <&gpio6 17  GPIO_ACTIVE_LOW>;
	disable-gpio = <&gpio5 1 GPIO_ACTIVE_LOW>;
	ext_osc = <0>; /* Using internal osc. Set to 1 for external osc */
	status = "okay";
};

&pcie_phy {
	status = "okay";
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2>;
	assigned-clocks = <&clks IMX7D_ENET2_TIME_ROOT_SRC>,
			<&clks IMX7D_ENET2_TIME_ROOT_CLK>;
	assigned-clock-parents = <&clks IMX7D_PLL_ENET_MAIN_100M_CLK>;
	assigned-clock-rates = <0>, <100000000>;
	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;
	fsl,magic-packet;
	phy-reset-gpios = <&gpio2 30 GPIO_ACTIVE_LOW>;
	status = "okay";
};

/* same MDIO bus as PHY on phyCORE SOM */
&mdio {
	ethphy1: ethernet-phy@2 {
		compatible = "ethernet-phy-ieee802.3-c22";
		interrupt-parent = <&gpio1>;
		interrupts = <9 0>;
		reg = <2>;
		rxdv-skew-ps = <0>;
		txen-skew-ps = <0>;
		rxd0-skew-ps = <0>;
		rxd1-skew-ps = <0>;
		rxd2-skew-ps = <0>;
		rxd3-skew-ps = <0>;
		rxc-skew-ps = <1860>;
		txc-skew-ps = <1860>;
	};
};

&usbotg2 {
	vbus-supply = <&reg_usb_otg2_vbus>;
	status = "okay";
};
