/*
 * Copyright (C) 2015 PHYTEC America, LLC
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
/dts-v1/;

#include "imx7-phycore-som.dtsi"
#include "imx7-pba-c-09.dtsi"

/**** SOM - PCM-061 ****/

&fec1 {
	status = "okay";
};

/* eMMC */
&usdhc3 {
	status = "okay";
};


/**** Carrier Board - PBA-C-09 ****/

&uart5 {
	status = "okay";
};

&usdhc1 {
	status = "okay";
};

&pcie {
	status = "okay";
};

/* Touch controller
 * TODO: backport DTS support for driver
 */
&i2c2 {
	status = "disabled";
};

&ft5406 {
	status = "disabled";
};

/**** LCD-018 ****/
&lcdif {
	status = "okay";
};

/* backlight */
&pwm4 {
	status = "okay";
};

&backlight {
	status = "okay";
};
